/* |---- Font ----| */
@import url('https://fonts.googleapis.com/css2? family=Red+Hat+Display:wght@500;700;900&display=swap');

*{
  box-sizing: border-box;
  margin: 0px;
  padding: 0px
}
html{
  font-size: 62.5%
}


:root {
  /* |---- Primary Colors ----| */
  --Pale-blue: rgb(224, 232, 255);
  --Bright-blue: rgb(56, 41, 224);
  --Blue: rgb(56, 42, 225);

  /* |---- Neutral Colors ----| */
  --Very-pale-blue: rgb(245, 247, 255);
  --Desaturated-blue: rgb(114, 128, 167);
  --Dark-blue: rgb(31, 47, 86);
  --Dark-text: rgb(49, 61, 95);
  --price-text: rgb(175, 178, 194);
  --Annil: rgb(55, 49, 144);
  --Blue-hover: rgb(118, 108, 241);

  --light-color: rgb(255,255,255);

  /* |---- Font-family ----| */
  --general: 'Red Hat Display', sans-serif;
}

body {
  background-color: var(--Pale-blue);
  font-family: var(--general);
  font-size: 1.6rem; 
}


.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 709px;
  background-image: url('./images/pattern-background-mobile.svg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.card__container {
  display: flex;
  align-items: center;
  flex-flow: column wrap;
  width: 327px;
  height: 630px;
  background-color: var(--light-color);
  border-radius: 20px;
  box-shadow: 20px 20px 21px #C5D1F7;
}

.card__container h2 {
  font-size: 23px;
  font-weight: 900;
  color: var(--Dark-text);
}

.card__design-header {
  width: 100%;
  height: 161px;
  background-image: url("./images/illustration-hero.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 20px 20px 0px 0px;
  margin-bottom: 39px;
}

.card__information {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  padding: 32px;
}

.card__promotion-text {
  width: 100%;
  text-align: center;
  color: var(--Desaturated-blue);

}


.card__charge {
  display: grid;
  align-items: center;
  justify-items: center;
  grid-template-columns: 63px 113px 86px;
  width:279px;
  height: 81px;
  background-color: var(--Very-pale-blue);
  border-radius: 12px;
  margin-bottom: 24px;
}

.card__charge-img_container {
  width: 48px;
}
.card__charge-img_container img{
  width: 100%;
  height: 100%;
}
.card__charge-priceinf {
  display: flex;
  flex-flow: wrap column;
}

.card__charge-priceinf h3 {
  font-size: 1.4rem;
  font-weight: 500;
  color: var(--price-text);
}

.card__charge-priceinf h3:first-child {
  color: var(--Dark-text);
  margin-bottom: 5px;
  font-weight: 900;
}

.card__charge h4 {
  justify-self: flex-end;
  font-size: 1.2rem;
  font-weight: 900;
  color: var(--Annil);
  text-decoration: underline;
  cursor: pointer;
}

.card__charge h4:hover {
  color: var(--Blue-hover);
}


.card__payment-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 279px;
  height: 50px;
  background-color: var(--Blue);
  border-radius: 9px;
  box-shadow:  22px 22px 44px #b8b8b8,
              -22px -22px 44px #ffffff;
  cursor: pointer;
  margin-bottom: 28px;
}

.card__payment-btn:hover {
  background-color: var(--Blue-hover);
}

.card__payment-btn h4 {
  color: var(--light-color);
}

.card__container a {
  color: var(--Desaturated-blue);
  font-weight: 900;
  text-decoration: none;
}

.card__container a:hover {
  color: var(--Dark-blue);
}


@media (min-width: 1366px) {
  .container {
    height: 900px;
    background-image: url('./images/pattern-background-desktop.svg');
    background-position-y: -458px;
    background-position-x: -555px;
    background-repeat: no-repeat;
  }

  .card__container {
    width: 452px;
    height: 700px;
  }

  .card__design-header {
    height: 220px;
  }

  .card__information {
    align-items: center;
  }
  .card__promotion-text {
    width: 90%;
  }

  .card__charge {
    grid-template-columns: 69px 113px 129px;
    width: 350px;
    height: 97px;
    padding: 0px 22px 0px 22px;
  }
  .card__charge-img_container {
    justify-self: flex-start;
  }
  .card__charge-priceinf {
    justify-self: flex-start;
  }

  .card__payment-btn {
    width: 350px;
  }
}




.attribution { 
  font-size: 1.1rem; 
  text-align: center;
}
.attribution a { 
  color: hsl(228, 45%, 44%); 
}